@page
@model MedicalClinic.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Bun venit, Administrator!</h1>
<a href="/Admin/Specialities" class="btn btn-outline-primary">Gestionare Specialități</a>
<a href="/Admin/Rooms" class="btn btn-outline-primary">Gestionare Săli</a>
<a href="/Admin/Equipments" class="btn btn-outline-primary">Gestionare Echipamente</a>
<a href="/Admin/ConsultationTypes" class="btn btn-outline-primary">Tipuri de Consultație</a>
<a href="/Admin/Staff" class="btn btn-outline-primary">Gestionare Personal</a>
<a href="/Admin/DoctorSpecialities" class="btn btn-outline-primary">Specialități Doctori</a>
<a href="/Admin/Reviews" class="btn btn-outline-primary">Moderare Recenzii</a>
<a href="/Admin/Patients" class="btn btn-outline-primary">Gestionare Pacienți</a>