@page
@model MedicalClinic.Pages.Patients.DashboardModel
@{
    ViewData["Title"] = "Patient Dashboard";
}

<h1>Bun venit!</h1>
<a href="/Patients/BookAppointment" class="btn btn-primary">Programare Nouă</a>
<a href="/Patients/MyAppointments" class="btn btn-outline-primary">Programările Mele</a>
<a href="/Patients/MyRecord" class="btn btn-outline-primary">Dosarul Meu Medical</a>
<a href="/Patients/Reviews" class="btn btn-outline-primary">Recenzii Doctori</a>