@page
@model MedicalClinic.Pages.Nurses.DashboardModel
@{
    ViewData["Title"] = "Nurse Dashboard";
}

<h1>Bun venit, Asistenta!</h1>
<a href="/Nurses/Appointments" class="btn btn-outline-primary">Gestionare Programări</a>
<a href="/Nurses/DailyReport" class="btn btn-outline-primary">Raport Zilnic</a>
