@page
@model MedicalClinic.Pages.Doctors.DashboardModel
@{
    ViewData["Title"] = "Doctor Dashboard";
}

<h1>Bun venit, Doctor!</h1>
<a href="/Doctors/MyAppointments" class="btn btn-outline-primary">Programările Mele</a>
<a href="/Doctors/MyPatients" class="btn btn-outline-primary">Pacienții Mei</a>
<a href="/Doctors/MyProfile" class="btn btn-outline-primary">Profilul Meu</a>